div.footer {
    padding: 3rem 1rem;
    margin-top: 2rem;
}

div.jumbotron {
    background-image: url('../images/header/moon.jpg');
    padding-bottom: 32px;
}

div.jumbotron > h1 {
    margin-bottom: 1.5rem;
}

div.jumbotron > p {
    padding: 1rem;
}
